<div class="row">

  <div class="col-md-6 col-sm-6">
    <h1 class="text-center ngs">*ngIf</h1>
    <hr>
    <!-- Carta -->
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Dark card title</h4>
        <p class="card-text">{{ frase.mensaje }}</p>
        <footer><cite class="Source Title">{{ frase.autor }}</cite></footer>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <h1 class="text-center ngs">*ngFor</h1>
    <hr>

    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
