<<<<<<< HEAD
/*=== 37. Estructura del body component
======================*/
.container {

}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
hr {
  border-bottom: 2.5px solid #000;
  padding-bottom: 5px;
}
.card {
  margin: auto;
=======
.align-justify { text-align: justify; }
.spacing {
  clear: both;
  margin: 35px 0px;
  display: block;
  height: 1px;
}
.card, .list-group { margin: auto; }
.ngHR { border-top: 5px solid silver; }
.btn {
  cursor: pointer;
  margin-bottom: 10px;
>>>>>>> 571cab367c14cd89d607b083db5413dba83d9635
}
