/* You can add global styles to this file, and also import other style files */
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.spacing {
  clear: both;
  margin: 35px 0px;
  display: block;
  height: 1px;
}
.pa0 {
  padding: 0px;
}
